<a href="https://colab.research.google.com/github/phmehta95/Python/blob/master/Session_1_Intro_to_Python(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why Python?

## Advantages of Python

- Free and open-source.
- Multiple libraries and growing - used for varied applications.
- Functional programming and object orientated programming.
- Increasingly popular.
- (Relatively) straightforward to learn.
- Multiple platforms (IDEs) on which to run it.
- We can use it to teach statistics, signal and image analysis, data science etc

## How to go through the course

We are using the [Google Colab](https://colab.research.google.com/) platform which will run Python scripts in the cloud. To get going you will need to do the following:

1. Create a Google account if you haven't got one.
2. Download the Zip files in KEATS and  extract the files locally
3. Go to your [Google Drive](https://drive.google.com/), and upload all the files you extracted earlier into a fresh, suitably named folder (e.g. 'Intro to Python').
4. Double-click on the Session 1 Python notebook (`.ipynb`) file. It will open directly in [Google Colab](https://colab.research.google.com/).

## Tips

- You can create code samples in the Colab worksheets and play around with them.
- Don't limit yourself to one solution to each of the exercises - play with the possibilities.
- We will release the solutions periodically through the course of the module.
- It's not a race - take your time!
- If you've done a lot of python before and finish early, we can provide you with more material!

# Overview

- **Variables** in programming are elements which contain data. Data can be in the form of integers, real (floating point numbers), complex numbers, strings, ASCII characters etc.
- **Operators** include logical, arithmetic and statistical ones.
- **Collections** are groups of variables. These include lists, tuples, dictionaries and arrays.
- **Functions** are self-contained code snippets that receive variables and return a computation on those variables.

In this session, we will explore common elements of programming in Python.

# Simple variables and variable operations

Let's look at a simple statement in Python. Here we assign the integer value 4 to the variable `a`:

In [2]:
a=4

## `print()`

We can use the `print()` built-in function to display the contents of the variable (output it to the screen):

In [3]:
print(a)

4

## Dynamic typing

In the example below, we assign the value 4.5 to the floating point variable `b`. It's interesting to note that in the case below that `b` doesn't 'know' it's going to be a floating point number until it is assigned. This _dynamic typing_ of variables is in contrast to other languages where the type of each variable is declared explicitly (_static typing_). For more information about dynamic vs. static typing, [see here](https://www.geeksforgeeks.org/python/type-systemsdynamic-typing-static-typing-duck-typing/) (for example).

In [8]:
b = -4.5
print(b)

-4.5

Note that because of dynamic assignment of variables, a variable can be (re-)assigned to a value of a different type at a later stage in the program.

## Built-in functions

There are many built-in functions in Python (see [here for a comprehensive list and exlanation of other built-in functions](https://docs.python.org/3/library/functions.html)). Some fairly familiar ones are `max()`, `min()`, `abs()`.

For example, this returns the absolute value of `b`:

In [9]:
print(abs(b))

4.5

This raises `b` to the power 2:

In [10]:
print(pow(b,2))

20.25

## `help()`

The `help()` function can be used to find out how to use built-in functions like `print()`:

In [11]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## `type()`

We can find out the type of a variable using the built-in function `type()`:

In [12]:
print(type(b))

<class 'float'>

## A word about variables, classes, instances and objects

The *type* of each variable is a *class*. In programming parlance (and object-oriented programming in particular), a class is a template or blueprint for variables that share the same methods and properties. The functionality for each variable is therefore defined by its class. In our example, `b` is a variable of class `float`.

The term _instance_ is often used to refer to a specific realization of a class. For all intents and purposes, an instance of a class is what you would normally think of as a variable. In our example, `b` is an _instance_ of the class `float`.

You may also hear the term _object_ used to refer to classes or variable. In most cases, this will mean 'an instance of a class' - in other words, a variable. Note that there is a lot more to the concept of objects in object-oriented programming, but we will not go into this at this stage. In our example, `b` could also be said to be an _object_ of type `float`.

These distinctions will probably feel very abstract and unnecessary at this stage, but they will come in handy later on. The main point at this stage is to introduce the terminology to avoid confusion when these terms are used later on in this course!

We will talk about classes in more detail in a future lesson.

## Attributes and Methods

A class defines the _attributes_ or _properties_ that instances of this class will have. Attributes are themselves variables of some (simpler) type. A variable of type `float` would obviously need to have a property that holds its value. A variable of type `string` would need to hold an array of characters, etc. In our example, the variable `b` has an attribute called `real`, which holds the real part of the number, and which we can print out as a regular variable as follows:

In [13]:
print (b.real)

-4.5

A class may also define _methods_, which are functions that can only be invoked on an instance of that class. These typically provide a way to _interact_ with the object in a more convenient manner. In our example, the variable `b`, being an instance of type `float`, has a method called `is_integer()`, whose sole purpose is to report whether the variable can safely be converted to an integer without loss of information:

In [14]:
print (b.is_integer())

False

Note the syntax used to access attributes and methods: since these only make sense in the context of a specific instance, the variable is provided first, followed by a name of the relevant property or method, separated by a single dot. This is called [dot notation](https://www.askpython.com/python/built-in-methods/dot-notation), and is common to many programming languages.

## `dir()`

We can list the properties and methods of any object using the very useful function `dir()`:

In [15]:
dir(b)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

You can find out whether each of these is a _property_ or a _method_ using the `type()` built-in function, for example:

In [16]:
print (type(b.as_integer_ratio))

<class 'builtin_function_or_method'>

This is a method, which you can invoke as follows. Note the empty brackets after the method name: this makes it clear that we are invoking the method as a function (not an attribute):

In [17]:
print (b.as_integer_ratio())

(-9, 2)

Another example:

In [18]:
print (type(b.real))

<class 'float'>

This is a property, which we can use as a regular variable:

In [19]:
print (b.real)

-4.5

## Handling text: strings

Here we assign the text `kalypso` to the variable `forename`:

In [20]:
forename='kalypso'
print(forename)

kalypso

This is a variable of type `str`. In programming, a variable designed to hold text is typically called a _string_.

In [21]:
print (type(forename))

<class 'str'>

 Let's find out about functions and method we can apply to the string `forename`:

In [22]:
dir(forename)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## `len()`

Use the built in function `len()` to find the _length_ of a variable - in this case, the number of characters in the string:

In [23]:
print(len(forename))

7

Many methods are also available, as shown in the `dir()` listing above. We can use the `.capitalize()` method to produce to produce an uppercase letter for the string:

In [24]:
print(forename.capitalize())

Kalypso

Some methods also expect additional _arguments_. For example, `.endswith()` checks whether the string ends with a particular suffix, which you need to specify:

In [25]:
forename.endswith ('pso')

True

If in doubt, you can use the `help()` built-in function to find out how to use any of these methods:

In [26]:
help (forename.endswith)

Help on built-in function endswith:

endswith(...) method of builtins.str instance
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

## Naming conventions

It is considered good practice in programming circles to use descriptive names for the variables and functions used. Moreover, variable names should be in lower case, with individual words seperated by an underscore.

Different conventions apply to types and classes. We will cover this in due course.

## Exercise 1

Try some of the other methods and built-in functions associated with strings. Remember Google is your friend!

In [39]:
print(type(forename))
print(forename.swapcase())
print(forename.istitle())
help(forename.istitle)

<class 'str'>
KALYPSO
False
Help on built-in function istitle:

istitle() method of builtins.str instance
    Return True if the string is a title-cased string, False otherwise.

    In a title-cased string, upper- and title-case characters may only
    follow uncased characters and lowercase characters only cased ones.

## Boolean types (True or False)

Boolean variables can also be defined to encode simple True or False conditions:

In [40]:
a_logical=True
b_logical=False

print (a_logical, b_logical)

True False

## Complex numbers

Likewise, there is a class to hold complex numbers:

In [41]:
c=5+2j
c1=3+4j

print(c,c1,c+c1)

(5+2j) (3+4j) (8+6j)

# Using variables: operators

Python provides many operators to perform basic operations. We'll go through a few of these here. Please refer to the [online documentation for the full list](https://www.w3schools.com/python/python_operators.asp).

## Arithmetic operations

You can use arithmetic operators in Python to perform calculations or combine strings.

In [42]:
# multiplication, addition and division
# Here, we compute the total cost of an item given the discount VAT rates
VAT_rate_perc = 20.0
base_cost_pounds= 30.0
sale_discount_perc=50.0
total_cost = base_cost_pounds*(1-sale_discount_perc/100)*(1+VAT_rate_perc/100)
print(total_cost)

# Note the use of the string modulo operator % and the floating point format (5 digits, 2 decimal places)
print("Total Cost : %5.2f" % (total_cost))

18.0
Total Cost : 18.00

For more information about string formatting using the modulo operator, have a look at [this tutorial](https://realpython.com/python-modulo-string-formatting/) (for example).

You can add, takeaway, multiply, etc. by another term and reassign it to the original variable. Here, since the original value of `a` was 4, the new value is 12.

In [43]:
a=4
print(a)
a+=2
print(a)
a*=6
print(a)
a/=3
print(a)

4
6
36
12.0

What is the resulting type when we add a floating point and integer together?

In [63]:

print(a)
a = int(a)
print(type(a))
print(type(b))
c=a+b
print(c, type(c))

12
<class 'int'>
<class 'float'>
7.5 <class 'float'>

As you can see, operations with mixed types provide their result using the most general of the two input types.

We can use the modulo operator to compute the remainder of a division:

In [64]:
left_over=6%4
print(left_over)

2

## String concatenation: the addition operator

In [65]:
forename = 'Kalypso'
surname = 'Martini'
purchase_item = "Shirt"

We can use the addition operator to concatenate or join together strings to form a longer string. Note the additional blank string to provide a space between the forename and surname:

In [66]:
full_name = forename + ' ' + surname
print (full_name)

Kalypso Martini

## More advanced string formatting

Python provides a number of ways of formatting strings, some of which have now fallen out of favour as newer ways have been introduced.

### Python  modulo string formatting

A common method is to use the `%` operator to substitute variables into the corresponding *placeholders* in the main format string. These placeholders are specified using `%` sign followed by a *format specifier* to denote what type of formatting to apply to that variable.

For full details, please refer to the [online documentation](https://realpython.com/python-modulo-string-formatting/). The example below will illustrate the main idea:

In [67]:
# %s  indicates a string, %5.2f indicates a floating point number of field width of 5 characters and 2 decimal places.
print('%s bought a %s for £%5.2f' % (full_name, purchase_item, total_cost))

Kalypso Martini bought a Shirt for £18.00

### Python f-strings

Python 3.6 introduced support for f-strings, which is now the preferred way of formatting text. To use this notation, simply add a single `f` character in front of the string, and place the names of the variables you need to substitute in the main string, enclosed in braces `{}`. If necessary, more specific formatting information can be added after a colon (`:`) within the braces.

Refer to the [online documentation](https://docs.python.org/3/library/string.html#formatspec) for a full list of the various formatting specifiers that can be used.

For example:

In [68]:
print(f'{full_name} bought a {purchase_item} for £{total_cost:5.2f}')

Kalypso Martini bought a Shirt for £18.00

### Exercise 2

Produce formatted print output for a receipt detailing the breakdown of how much Kalypso has spent including the discount and the VAT.

In [77]:
print(f'VAT = {VAT_rate_perc}%')
print(f'COST = £{base_cost_pounds}')
print(f'DISCOUNT={sale_discount_perc}%')
total_cost = base_cost_pounds*(1-sale_discount_perc/100)*(1+VAT_rate_perc/100)
print(f'TOTAL COST= £{total_cost}')

VAT = 20.0%
COST = £30.0
DISCOUNT=50.0%
TOTAL COST= £18.0

## Logical operators

Logical Operators are operators such as `>`, `<`, `>=`, `!=`, `and`, `not` and `or`. When used, these operators produce a BOOLEAN output (`True` or `False`).

In [81]:
a=50
b=40
c=40
d=70
TrueOrFalse = a>b and d>c
print(TrueOrFalse) # is a  greater than b and d greater than c? Both are True so this expression should be True!

TrueOrFalse = b!=c or c>d # is b not equal to c or is c greater than d? Both are false to answer should be False!
print(TrueOrFalse)

True
False

# Conditional Statements

We use logical operators to evaluate logical expressions and take actions accordingly. The one you may be familiar with is the `if` statement:

In [83]:
if condition:
  statement1
  statement2
  ...

NameError: name 'condition' is not defined

Note the use of the colon `:` symbol after each conditional statement. This is used to mark the beginning of the block of code to be executed if true (or false, in case of the `else` statement).

Note also the use of [indentation](https://www.geeksforgeeks.org/python/indentation-in-python/) to group blocks of code. This is important to ensure the correct lines of code are executed for the correct branch of the `if` statement. Python is fairly unique in that it relies only on indentation to denote code blocks - other languages tend use explicit delimiters such as braces (`{ }`).

As an option, you can also use the `else` statement if you need to execute code if the condition is *not* true:

In [ ]:
if condition:
  statement1_if_true
  statement2_if_true
  ...
else:
  statement1_if_false
  statement2_if_false
  ...


Python also provides the `elif` statement, which is a contraction of `else if`:

In [ ]:
if condition1:
  statement1_if_true
  statement2_if_true
  ...
elif condition2:
  statement1_if_true
  statement2_if_true
  ...
else:
  statement1_if_false
  statement2_if_false
  ...

Below, we ask a user to put in their age, height and weight and we give them weight advice.

In [84]:
# read values input by user

# the input() function outputs a string which may need to be converted to an appropriate 'type':
age_in_years = float (input ('Age in Years (xx.x): '))
sex = input ('Sex (Enter Male or Female): ')
height_metres = float (input ('Height in metres (x.xx): '))
weight_kg = float (input ('Weight in kg (xx.x): '))

# Body Mass Index is computed from Weight in kg divided by Height in metres squared
BMI = weight_kg/height_metres**2

# if statement formulation
if age_in_years > 18.0:
  # note nested if statement structure (use TAB key)
  if BMI > 30.0:
    print ('You are obese. To get to an ideal weight of ' '%5.1f' ' you need to lose: ' '%5.1f' 'kg' %(22*height_metres**2, (BMI-22)*height_metres**2)) # note one format for inserting variable values within a string and printing them out
  elif BMI < 30.0 and BMI > 25.0:
    print ('You are overweight. To get to a ideal weight of ' '%5.1f' 'you need to lose: ' '%5.1f' 'kg' %(22*height_metres**2, (BMI-22)*height_metres**2) )
  elif BMI < 25.0 and BMI > 18.5:
    print ('You are a healthy weight')
  else:
    print ('You are underweight. To get to a ideal weight of ' '%5.1f' 'you need to gain: ' '%5.1f' 'kg' %(22*height_metres**2, (22-BMI)*height_metres**2)  )

# For children and young people (CYP), we use a different calculator for IBW (Ideal Body Weight).
# We use the Traub method Traub: IBW in kilograms is calculated in several ways depending on the child's height:
# for those under 5 ft, as [(height in cm)² × 1.65]/1,000;
# for boys taller than 5 ft, it's 39 + [2.27 × (height in inches - 60)];
# and for girls taller than 5 ft, it's 42 + [2.27 x (height in inches - 60)]
elif age_in_years < 18.0 and age_in_years > 3.0:
  if height_metres > 5*0.3048 and sex == 'Male':
      IBW = 39 + (2.27*((height_metres*12)/0.3048-60.0))
      # if weight is greater than 10% more than ideal body weight:
      if weight_kg > IBW+0.1*weight_kg:
        print ('Your child is overweight. To reach an ideal weight they should lose ' '%5.1f'' kg' %(weight_kg-IBW))
      elif weight_kg < IBW-0.1*weight_kg:
        print ('Your child is underweight. To reach an ideal weight they should gain ' '%5.1f'' kg' %(IBW-weight_kg))
      else:
        print ('Your child is a healthy weight')

  elif height_metres > 5*0.3048 and sex == 'Female':
      IBW = 42 + (2.27*((height_metres*12/0.3048-60.0)))
      if weight_kg > IBW+0.1*weight_kg:
        print ('Your child is overweight. To reach an ideal weight they should lose ' '%5.1f'' kg' %(weight_kg-IBW))
      elif weight_kg < IBW-0.1*weight_kg:
        print ('Your child is underweight. To reach an ideal weight they should gain ' '%5.1f'' kg' %(IBW-weight_kg))
      else:
        print ('Your child is a healthy weight')
  else:
      # Note the use of the ** exponentiation operator here:
      IBW = (height_metres*100)**2 * 1.65/1000.0
      if weight_kg > IBW+0.1*weight_kg:
        print ('Your child is overweight. To reach an ideal weight they should lose ' '%5.1f'' kg' %(weight_kg-IBW))
      elif weight_kg < IBW-0.1*weight_kg:
        print ('Your child is underweight. To reach an ideal weight they should gain ' '%5.1f'' kg' %(IBW-weight_kg))
      else:
        print ('Your child is a healthy weight')
elif age_in_years < 3.:
  print ('This calculator is unsuitable for children under 3 years of age')

Age in Years (xx.x): 30
Sex (Enter Male or Female): Female
Height in metres (x.xx): 1.52
Weight in kg (xx.x): 55
You are a healthy weight

## Exercise 3

Run the module segment above a few times putting in different values. How easy is it to break the program? Pretty easy hey?
In a future lesson, you will learn how to capture errors and deal with them, making your programming more robust.

There are a few inefficiencies in the code above. One  involves the use of repeat phrases in conditional statements for Males and Females. Can you make this code more elegant? Rewrite the program below.

In [89]:
# Write your cod# read values input by user

# the input() function outputs a string which may need to be converted to an appropriate 'type':
age_in_years = float (input ('Age in Years (xx.x): '))
sex = input ('Sex (Enter Male or Female): ')
height_metres = float (input ('Height in metres (x.xx): '))
weight_kg = float (input ('Weight in kg (xx.x): '))

# Body Mass Index is computed from Weight in kg divided by Height in metres squared
BMI = weight_kg/height_metres**2

# if statement formulation
if age_in_years > 18.0:
  # note nested if statement structure (use TAB key)
  if BMI > 30.0:
    print ('You are obese. To get to an ideal weight of ' '%5.1f' ' you need to lose: ' '%5.1f' 'kg' %(22*height_metres**2, (BMI-22)*height_metres**2)) # note one format for inserting variable values within a string and printing them out
  elif BMI < 30.0 and BMI > 25.0:
    print ('You are overweight. To get to a ideal weight of ' '%5.1f' 'you need to lose: ' '%5.1f' 'kg' %(22*height_metres**2, (BMI-22)*height_metres**2) )
  elif BMI < 25.0 and BMI > 18.5:
    print ('You are a healthy weight')
  else:
    print ('You are underweight. To get to a ideal weight of ' '%5.1f' 'you need to gain: ' '%5.1f' 'kg' %(22*height_metres**2, (22-BMI)*height_metres**2)  )

# For children and young people (CYP), we use a different calculator for IBW (Ideal Body Weight).
# We use the Traub method Traub: IBW in kilograms is calculated in several ways depending on the child's height:
# for those under 5 ft, as [(height in cm)² × 1.65]/1,000;
# for boys taller than 5 ft, it's 39 + [2.27 × (height in inches - 60)];
# and for girls taller than 5 ft, it's 42 + [2.27 x (height in inches - 60)]
elif 3.0 < age_in_years < 18.0:
  if height_metres > 5*0.3048 and sex in ['Male','Female']:
    base = 39 if sex == 'Male' else 42
    IBW = base + (2.27*((height_metres*12)/0.3048-60.0))
    # if weight is greater than 10% more than ideal body weight:
    if weight_kg > IBW+0.1*weight_kg:
      print ('Your child is overweight. To reach an ideal weight they should lose ' '%5.1f'' kg' %(weight_kg-IBW))
    elif weight_kg < IBW-0.1*weight_kg:
      print ('Your child is underweight. To reach an ideal weight they should gain ' '%5.1f'' kg' %(IBW-weight_kg))
    else:
        print ('Your child is a healthy weight')
  else:
      # Note the use of the ** exponentiation operator here:
      IBW = (height_metres*100)**2 * 1.65/1000.0
      if weight_kg > IBW+0.1*weight_kg:
        print ('Your child is overweight. To reach an ideal weight they should lose ' '%5.1f'' kg' %(weight_kg-IBW))
      elif weight_kg < IBW-0.1*weight_kg:
        print ('Your child is underweight. To reach an ideal weight they should gain ' '%5.1f'' kg' %(IBW-weight_kg))
      else:
        print ('Your child is a healthy weight')
elif age_in_years < 3.:
  print ('This calculator is unsuitable for children under 3 years of age')

Age in Years (xx.x): 12
Sex (Enter Male or Female): Female
Height in metres (x.xx): 1.7
Weight in kg (xx.x): 43
Your child is underweight. To reach an ideal weight they should gain  14.7 kg

---

# Loops in Python

Say we are entering a lot of data to determine body weight and wanted to use the weight advice function repeatedly, we might want to put the function in a loop and call it a number of times until we had finished. There are a couple of ways of doing this.

## The `for` loop

In [109]:
def weight_advice(age_in_years, height_metres, weight_kg, sex):
    BMI = weight_kg / height_metres**2
    ideal_weight = 22 * height_metres**2

    if BMI > 30.0:
        print(f'You are obese. To get to an ideal weight of {ideal_weight:5.1f} kg you need to lose: {(BMI - 22) * height_metres**2:5.1f} kg')
    elif 25.0 < BMI <= 30.0:
        print(f'You are overweight. To get to an ideal weight of {ideal_weight:5.1f} kg you need to lose: {(BMI - 22) * height_metres**2:5.1f} kg')
    elif 18.5 < BMI <= 25.0:
        print('You are a healthy weight')
    else:
        print(f'You are underweight. To get to an ideal weight of {ideal_weight:5.1f} kg you need to gain: {(22 - BMI) * height_metres**2:5.1f} kg')


# loop for i=0 to i=99:
for i in range(100):
  # The built-in function 'range()' produces a sequence of numbers (an iterable)
  # from an intial value (default=0) to an end value (specified by user).
  # The user can also supply an increment, so range(5,200,7) produces an
  # iterable of numbers beginning with 5, incrementing by 7 until 200 is reached.
  age_in_years = float ( input('Age in Years (xx.x): '))
  if age_in_years > 70.:
    print ('Age out of range for this patient. Continue with next')
    continue
  if age_in_years <= 18.0:
    print("This function is intended for adults over 18 years old. Continue with next")
    # skip this element in the loop if the patient is <18 years old:
    continue
  sex = input ('Sex (Enter Male or Female): ')
  height_metres = float (input ('Height in metres (x.xx): '))
  weight_kg = float (input ('Weight in kg (xx.x): '))
  weight_advice (age_in_years, height_metres, weight_kg, sex) #what is this line doing
  x = input ('Do you wish to continue entering data? (y/n)')
  if x == 'n':
    # breaks out of for loop:
    break
else:
  # else statement in a for loop is called when 'for' loop is finished:
  print ('You have completed the list of patients')

# NOTE: This 'else' statement is associated with the 'for' loop
#       and not the preceding 'if' statement

Age in Years (xx.x): 8
This function is intended for adults over 18 years old. Continue with next
Age in Years (xx.x): 90
Age out of range for this patient. Continue with next
Age in Years (xx.x): 56
Sex (Enter Male or Female): f
Height in metres (x.xx): 1.52
Weight in kg (xx.x): 55
You are a healthy weight
Do you wish to continue entering data? (y/n)n

Note the use of the `break` statement: this is used to 'break' out of the loop and stop iterating. It can be used with any type of loop (`for` or `while`).

Note also the use of the `else` statement, which is relatively unique to Python. This can be used to perform some action at the end of the loop - but *not* if it was terminated using a `break` statement. In the example above, the final `print` statement would only be printed if the loop ran through all 100 iterations specified in the `range(100)` call, but not if the user typed `n` to stop entering data.

### Exercise 4

Change Range(100) to Range(5). Enter 5 person's worth of data.

In [111]:

# loop for i=0 to i=99:
for i in range(5):
  # The built-in function 'range()' produces a sequence of numbers (an iterable)
  # from an intial value (default=0) to an end value (specified by user).
  # The user can also supply an increment, so range(5,200,7) produces an
  # iterable of numbers beginning with 5, incrementing by 7 until 200 is reached.
  age_in_years = float ( input('Age in Years (xx.x): '))
  if age_in_years > 70.:
    print ('Age out of range for this patient. Continue with next')
    # skip this element in the loop if the patient is > 70 years old:
    continue
  if age_in_years <= 18.0:
    print("This function is intended for adults over 18 years old. Continue with next")
    # skip this element in the loop if the patient is <18 years old:
    continue
  sex = input ('Sex (Enter Male or Female): ')
  height_metres = float (input ('Height in metres (x.xx): '))
  weight_kg = float (input ('Weight in kg (xx.x): '))
  weight_advice (age_in_years, height_metres, weight_kg, sex)
  x = input ('Do you wish to continue entering data? (y/n)')
  if x == 'n':
    # breaks out of for loop:
    break
else:
  # else statement in a for loop is called when 'for' loop is finished:
  print ('You have completed the list of patients')

Age in Years (xx.x): 9
This function is intended for adults over 18 years old. Continue with next
Age in Years (xx.x): 90
Age out of range for this patient. Continue with next
Age in Years (xx.x): 23
Sex (Enter Male or Female): m
Height in metres (x.xx): 1.52
Weight in kg (xx.x): 55
You are a healthy weight
Do you wish to continue entering data? (y/n)y
Age in Years (xx.x): 45
Sex (Enter Male or Female): m
Height in metres (x.xx): 1.55
Weight in kg (xx.x): 100
You are obese. To get to an ideal weight of  52.9 kg you need to lose:  47.1 kg
Do you wish to continue entering data? (y/n)y
Age in Years (xx.x): 56
Sex (Enter Male or Female): f
Height in metres (x.xx): 1.78
Weight in kg (xx.x): 68
You are a healthy weight
Do you wish to continue entering data? (y/n)y
You have completed the list of patients

## The `while` Loop

The above code is limited to the number of loops that is specified. It might be more convenient to go around the loop until a condition is met. We can use a `while` loop to achieve that.

In [ ]:
while input ('Do you want to enter patient data?(y/n)') == 'y':
  age_in_years = float (input ('Age in Years (xx.x): '))
  if age_in_years > 70.0:
    print ('Age out of range for this patient. Continue with next')
    continue # skip this element in the loop if the patient is > 70 years old
  sex = input ('Sex (Enter Male or Female): ')
  height_metres = float (input ('Height in metres (x.xx): '))
  weight_kg = float (input ('Weight in kg (xx.x): '))
  print (weight_advice (age_in_years, height_metres, weight_kg, sex))

Note the use of the `continue` statement: this stops the execution of the *current* iteration, and immediately proceeds to the next iteration, skipping all the following statements in the loop.

---

# Containers

## Lists

So far we have had to enter data into the program to obtain an answer but what if we had organised sets of data that we wanted to get results for? Thankfully, there are variable types that can carry lots of data. These include Lists, Tuple, Sets, Dictionaries and Arrays. Let's meet one of the most commonly used: lists.

The list type holds a collection of items of the same or different variable types. Let's have a look at some examples.

### Defining lists

Initialise a list of numbers. This could be a list of patient weights in kg. Note the use of square brackets:

In [112]:
list_weights = [67.1,27.2,43.3, 97.7,35.5]

This could be a list of patient names:

In [113]:
list_names = ['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

You can include mixed types, and even include a list within a list:

In [114]:
mixed_list=[1, 4.3, 'tumble', list_weights, True]

### Accessing elements

Accessing a specific element or range of elements can be done using [list slicing](https://www.geeksforgeeks.org/python/python-list-slicing/), illustrated in the examples below.

Access individual element in list by indexing it:

In [116]:
print (list_weights[0], list_weights[2])

67.1 43.3

Note that in Python (and many other programming languages), indexing starts at zero.

Accessing the last element can be done using a *negative* index, which takes the item this many elements from the end:

In [117]:
print (list_weights[-1])

35.5

Printing a range of elements can be done using the colon (`:`) notation. For example, this prints elements from 1 up to (but not including) 4:

In [118]:
print (list_names[1:4])

['Francesca', 'Bertrand', 'Rocky']

If either of the indices are unspecified, they default to the start and end of the list respectively:

In [119]:
print (list_names[:])
print (list_names[:2])
print (list_names[-2:])

['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']
['Charlie', 'Francesca']
['Charlie', 'Severine']

It is possible to specify a 'skip' (increment) value by adding another colon. By default, the increment is 1 (list every element). Here, we print every other element (increment is 2):

In [120]:
print (list_weights[::2])

[67.1, 43.3, 35.5]

Print every other element starting with index 1:

In [121]:
print (list_weights[1::2])

[27.2, 97.7]

Print every other element in reverse order:

In [122]:
print (list_names[::-2])

['Severine', 'Severine', 'Rocky', 'Francesca']

### Iterating over list elements

Lists are also *iterables*: they can be used directly in a `for` loop, which will perform an iteration for each entry in the list. In the example below, the current entry can be accessed as the variable `x`:

In [123]:
for x in list_weights:
  print (x)

67.1
27.2
43.3
97.7
35.5

In [124]:
for x in list_names:
  print (x)

Charlie
Francesca
Bertrand
Rocky
Severine
Severine
Charlie
Severine

In [125]:
for x in mixed_list:
  print (x)

1
4.3
tumble
[67.1, 27.2, 43.3, 97.7, 35.5]
True

This can be combined with list slicing if required. For example, here is an alternate way of printing every other member of the list:

In [126]:
for x in list_weights[::2]:
  print (x)

67.1
43.3
35.5

If required, we can iterate over the indices, and access the elements from the list within the loop. This can be useful if we need both the element and its index:

In [127]:
for i in range (0, len(list_weights), 2):
  print (i, list_weights[i])

0 67.1
2 43.3
4 35.5

### Exercise 5

Print every 3rd element of `list_names` using 3 alternative methods

In [ ]:
# Your code here

### List methods

The list class provides a number of useful methods. We'll explain what *classes* and *methods* are in more detail in subsequent sessions. For now, here are a few examples to illustrate the use of the most useful of these methods:

To apply a method, we need to use the [dot notation](https://builtin.com/data-science/dot-notation). In this example, we are using the `sort()` method on the `list_names` class:

In [ ]:
list_names.sort()
print (list_names)

['Bertrand', 'Charlie', 'Charlie', 'Francesca', 'Rocky', 'Severine', 'Severine', 'Severine']

We can also sort the list in descending order:

In [ ]:
list_weights.sort (reverse=True)
print (list_weights)

[97.7, 67.1, 43.3, 35.5, 27.2]

We can use the `append()` method to add an element to the end of a list:

In [ ]:
list_names.append('Cecil')
print (list_names)

['Bertrand', 'Charlie', 'Charlie', 'Francesca', 'Rocky', 'Severine', 'Severine', 'Severine', 'Cecil']

We can use the `copy()` method to copy the entire list to another variable:

In [ ]:
# reset the list to its original contents:
list_names = ['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

list_names_duplicate = list_names.copy()
print (list_names_duplicate)

['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

These two copies are now independent: we can modify one without affecting the other:

In [ ]:
list_names_duplicate[1] = 'Fred'
print (list_names_duplicate)
print (list_names)

['Charlie', 'Fred', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']
['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

The `clear()` methods deletes the entire contents of the list:

In [ ]:
list_names_duplicate.clear()
print (list_names_duplicate)

[]

The `extend()` method can be used to merge one list (or any *iterable*) into another existing list:

In [ ]:
list_names_duplicate = [ 'John', 'Luke' ]
print (list_names_duplicate)

list_names_duplicate.extend (list_names)
print (list_names_duplicate)

['John', 'Luke']
['John', 'Luke', 'Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

The `count()` method reports how many elements match the item specified:

In [ ]:
print (list_names.count('Charlie'))

2

The `index` method provides the index of the first element that matches the item specified:

In [ ]:
print (list_names.index('Charlie'))

0

The `insert()` method is used to insert an element at a specified index:

In [ ]:
list_names.insert(4,'Jack')
print (list_names)

['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Jack', 'Severine', 'Severine', 'Charlie', 'Severine']

The `pop()` method remove the item at the specified index:

In [ ]:
list_names.pop(4)
print (list_names)

['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

The `remove()` method removes the first element that matches the specified item from the list:

In [ ]:
list_names.remove('Bertrand')
print (list_names)

['Charlie', 'Francesca', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

**Note:** if you *assign* one list to another (using the `=` operator), both lists will refer to the *same* entity in memory. The two copies will *not* be independent: any operation you do on one you do on the other!

If you need a genuinely independent copy, make sure to use the `copy()` method!

In [ ]:
print (list_names)

list_names_1 = list_names
list_names_1.pop(4)

print (list_names)

['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Charlie', 'Severine']
['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Charlie', 'Severine']

### Exercise 6

Remove the 2nd last instance of `Severine` from `list_names`. If you don't know how many instances of `Severine` are in the list, you may run into trouble!

In [ ]:
list_names = ['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Severine', 'Charlie', 'Severine']

In [ ]:
# write your code here

[4, 5, 7]
['Charlie', 'Francesca', 'Bertrand', 'Rocky', 'Severine', 'Charlie', 'Severine']

## List comprehensions

Python has a very convenient and expressive way of performing computations of a list (or in fact, other iterables).

List comprehensions take the form `[expression for item in iterable if condition]` (the final `if condition` is optional).

In this example, we take a list of the height in inches and convert them to metres:

In [ ]:
# list of patients' heights:
height_data_inches = [ 61, 67, 70, 57, 71, 72, 70, 66 ]
print (height_data_inches)

height_data_metres = [ x*2.54/100 for x in height_data_inches ]
print (newlist)

[61, 67, 70, 57, 71, 72, 70, 66]
[61, 70, 71]

We can also use a list comprehension to create a new list of every other element:

In [ ]:
newlist = [ height_data_inches[i] for i in range(0, len(list_weights),2) ]
print (newlist)

[61, 70, 71]

In this comprehension we calculate BMI from the height and weight lists.
We use the [`zip()`](https://www.w3schools.com/python/ref_func_zip.asp) built-in function to combine two lists.

`zip()` produces an iterable of type zip, where each item is itself an *iterator* over the matching elements from both lists, which we can then assign to two separate variables in the loop. This example will perhaps clarify this:

In [ ]:
# list of patients' weights:
weight_data_kg = [ 60.0, 80.0, 80.0, 60.0, 65.0, 83.0, 79.0, 48.0 ]

print ('Input data (height weight):')
# to illustrate what the zip() function does:
for x,y in zip (height_data_metres, weight_data_kg):
  print (x,y)

newlist = [ w/h**2 for h,w in zip(height_data_metres,weight_data_kg) ]

print ('')
print ('Computed BMI:')
print (newlist)

Input data (height weight):
1.5493999999999999 60.0
1.7018 80.0
1.778 80.0
1.4478 60.0
1.8034000000000001 65.0
1.8288 83.0
1.778 79.0
1.6764000000000001 48.0

Computed BMI:
[24.99333136263693, 27.623133882935175, 25.306173061325712, 28.624249307593722, 19.986153838604043, 24.816793460747416, 24.98984589805914, 17.07992396701047]

We can also add a conditional statement, for example to exclude all individuals under 1.6 metres:

In [ ]:
newlist = [ w/h**2 for h,w in zip(height_data_metres,weight_data_kg) if h>1.6 ]
print (newlist)

[27.623133882935175, 25.306173061325712, 19.986153838604043, 24.816793460747416, 24.98984589805914, 17.07992396701047]

### Exercise 7

Create a new list of BMIs that contains only persons between 1.3 and 1.5 metres using a list comprehension.

In [ ]:
# write your code here